*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #dfe1e6;
}

.header {
  background-color: #fff;
  padding: 15px 0;
}

.nav-bar {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.nav-bar_desk {
  display: none;
}

.nav-bar li {
  margin-top: 1em;
  margin-right: 1em;
}

.logo {
  margin-left: 1.5rem;
  margin-top: 0.875rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #6070ff;
}

a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.drop-bar {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2.25rem;
  margin-top: 0.875rem;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.125rem 1.5rem;
  gap: 0.75rem;
  background-image: url(icons-images/header-shapes.png);
  background-size: cover;
  background-color: #fff;
  border-radius: 0 0 0 70px;
}

.social-media-icon {
  display: flex;
  flex-direction: row;
  height: 1.25rem;
  width: 10.636rem;
  justify-content: space-between;
}

.social-media-icon2 {
  display: flex;
  flex-direction: row;
  width: 190px;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 12px;
  margin-bottom: 27px;
}

.social-media-icon2 li,
.social-media-icon li,
.project-list ul,
.project ul,
.project1 ul {
  display: flex;
  list-style: none;
}

.headline1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.headline2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.headline3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

button:hover {
  background: #6070ff;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

/* Works */
.works {
  display: grid;
  gap: 4rem;
  margin-top: 114px;
  width: 375px;
  margin-bottom: 15%;
  top: 718px;
  background: #dfe1e6;
}

.snapshoot-portfolio-desktop {
  display: none;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.75rem;
  width: 90%;
  margin: 0 auto;
  height: 34.5rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-works1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.75rem;
  width: 90%;
  margin: 0 auto;
  height: 37.25rem;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.left-block-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 60px;
  padding-bottom: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.project1 {
  width: 295px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.project ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: 15px;
}

.project1 ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-top: 60px;
}

.project1 h3,
.project h2 {
  width: 70%;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 10px;
}

.para2 {
  display: none;
}

.canopy {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.role {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-content {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 10px;
}

.counter {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: #dfe1e6;
}

.project-list li {
  background: #ebebff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  align-items: center;
  padding: 0.625rem;
  height: 1.75rem;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-top: 0.8125rem;
  float: left;
}

.project-list ul {
  display: grid;
  gap: 10px;
  grid-template-columns: 3.125rem 2.5rem 5.625rem;
  padding-bottom: 2.1875rem;
}

.button {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 0.625rem;
  margin-top: 0.9375rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.125rem 1.5rem;
  gap: 0.75rem;
  width: 80.55%;
  background-size: cover;
  background-color: #fff;
  border-radius: 0 4.375rem 0 0;
  margin-bottom: 40%;
}

.about1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  width: 20.4375rem;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  width: 20.4375rem;
  line-height: 1.5rem;
  color: #344563;
  margin: -1px;
}

.about3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  gap: 0.75rem;
  font-family: 'Poppins', sans-serif;
  width: 20.4375rem;
}

.skill-list-desktop {
  display: none;
}

.skill-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  width: 20.4375rem;
  margin-bottom: 10px;
  list-style: none;
}

.skill-list h3 {
  display: flex;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 35px;
}

.skill-list {
  margin-top: 0;
}

.language li {
  background: #f7f7f9;
  border-radius: 0.5rem;
  width: 18.9375rem;
  height: 4.17rem;
  align-items: center;
  padding-left: 5rem;
  list-style: none;
  display: flex;
}

.language ul {
  margin: 0 0 0 0;
}

.language img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 0.75rem;
  margin-left: 1.5625rem;
}

.separator-border {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5rem;
  padding: 0.5rem;
  width: 327px;
  border-bottom: 1px solid #dfe1e6;
}

.fa {
  font-size: 25px;
}

.drop-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 1.5rem;
  padding: 0.5rem;
  width: 327px;
}

.drop-down h3,
.separator {
  padding-top: 15px;
}

.fa-angle-right,
.fa-angle-down {
  padding-right: 50px;
}

.form {
  display: grid;
  gap: 10px;
  margin: 0 auto;
  padding: 1em;
}

.contact-me {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 779px;
  border-radius: 70px 0 0 0;
  background: #6070ff;
  background-image: url(icons-images/mobile.png);
  background-position: right;
  background-position-y: 21px;
  background-repeat: no-repeat;
  margin-top: -220px;
}

.contact-me p {
  height: 137px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 15px 24px;
}

.contact-me h3 {
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  align-items: center;
  text-align: center;
  margin-top: 105px;
}

#text,
#email {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  color: #172b4d;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  padding: 15px;
}

#comment {
  width: 327px;
  height: 170px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  color: #172b4d;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 20px;
}

#btn {
  /* margin: 0 auto; */
  align-items: center;
  padding: 12px 16px;
  width: 142px;
  height: 48px;
  background: #fff;
  color: #6070ff;
  border-radius: 8px;
  margin-left: 23px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.header-desktop {
  display: none;
}

.form-input {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar_desk {
    display: flex;
    margin: 0.875rem 10% 0 0;
  }

  .nav-bar_desk ul {
    display: flex;
    justify-content: space-between;
  }

  .nav-bar_desk ul li {
    margin: 0 12px;
    padding: 0 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .headline {
    display: flex;
    flex-direction: column;
    padding: 7.125rem 1.5rem;
    background-image: url(icons-images/desktop-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 100%;
    border-radius: 0 0 0 70px;
  }

  .headline1d {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    gap: 12px;
    width: 80%;
    margin: 20px auto 12px 8%;
  }

  .headline1d p {
    width: 70%;
  }

  .social-media {
    margin-left: 8%;
  }

  .works {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 8% 0;
  }

  .card-works {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 0.75rem;
    width: 90%;
    margin: 0 auto;
    height: 25rem;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .card-works1 {
    display: flex;
    flex-direction: row-reverse;
    height: 25rem;
    padding: 1rem;
    gap: 0.75rem;
    width: 90%;
  }

  .snapshoot-portfolio,
  .snapshoot-portfolio img {
    height: 100%;
  }

  .left-block-container {
    display: grid;
    margin: 2% 0 0 2%;
    align-self: flex-start;
  }

  .project1 h3,
  .project h2 {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .project-content {
    width: 82%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .para1 {
    display: none;
  }

  .para2 {
    display: block;
  }

  .project-list {
    margin-top: -20px;
  }

  .project-list ul li {
    background: #ebebff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    padding: 0.625rem;
    height: 1.75rem;
    letter-spacing: 0.03em;
    color: #6070ff;
    margin-top: 2.8125rem;
    float: left;
  }

  .about {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.75rem;
    background-color: #fff;
    border-radius: 0 4.375rem 0 0;
    margin-bottom: 15.7%;
  }

  .text-part {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 0 0 5%;
  }

  .about2 {
    width: 50%;
    margin: 12px 0;
  }

  .social-media-icon2 {
    margin-left: -25px;
  }

  .skill-list {
    display: none;
  }

  .skill-list-desktop {
    display: flex;
    width: 1440px;
  }

  .skill-list-desktop ul {
    width: 60%;
  }

  .skill-list-desktop h3 {
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 35px;
  }

  .drop-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.5rem;
    padding: 0.5rem;
    width: 327px;
  }
  
  .drop-down h3,
  .separator {
    padding-top: 15px;
  }
  
  .fa-angle-right,
  .fa-angle-down {
    padding-right: 50px;
  }

  .language {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .language li {
    background: #f7f7f9;
    border-radius: 0.5rem;
    justify-content: center;
    width: 100%;
    height: 120px;
    align-items: center;
    padding-left: 5px;
  }
  
  .language ul {
    margin: 0 0 0 0;
  }
  
  .language img {
    position: relative;
  }

  .contact-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 70px 0 0 0;
    background: #6070ff;
    background-image: url(icons-images/contact-desk-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -220px;
  }

  .contact-text {
    color: #fff;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

  .contact-text p {
    text-align: center;
    width: 40%;
    margin: 8px auto 0 auto;
  }
  
}